/*     Common style   */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
} 
body{
    margin: 0 auto;
    max-width: 1240px;
   
} 
/* Header section style */
header{
    background: rgba(255, 144, 14, 0.1);
    /* width: 100%;
    height: 100%; */
} 
nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav-title{
    color: #131313;
    font: weight 700px;;
    font: size 45px;;
}
.left-site{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 30px;
}
.left-site-a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
} 
/* header second part    */
.second-part-header{
    text-align: center;
}

.second-part-title{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
    margin-top: 50px;
}
.second-part-about{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top:30px;
    margin-bottom:30px;
}
.btn{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 22px;
    border:none;
    margin-bottom: 30px;
}

/* header third part    */
.third-part-header{
    padding-bottom: 45px;
    padding-top: 20px;
}
.img-div{
    width:70%;
    height:auto;
    margin: 0px auto;
}
.img-header{
    width:100%;
    height:100%;
} 
/* main section start   */

/* .........main section one  style............... */

.main-section-one{
    height: auto;
    display: flex;
    gap: 30px;
    margin: 50px auto;
    width: 70%;
} 
.main-section-one >div {
    flex: 1;
}
.main-sec-one-right-site{ 

    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    
  
}  
.img-div-main{  
   width: 100%;
   height: 100%; 
   border-radius: 8px;
   
}
.main-sec-one-left-site{ 
   margin-top: 100px;
   
} 
.three-color-title{
    color: #727272;
    font-weight: 500;
    font-size: 42px;

}
.features{
    color: #FF900E;
    font-weight: 700;
}

.of-our{
    color: #131313;
    font-weight: 700;
} 
.main-sec-one-about{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-top: 24px;
    margin-bottom:24px; 
} 


/*.................    Section tow style     ...........  */
.main-section-two{ 
    height: auto;
    width:80%;
    margin: 70px auto;
    /* border: 3px solid red; */
}
.main-section-two-container{
    display: flex;
    gap:30px;
}

.main-section-two-container > div {
    flex: 1;
}   
.section-two-right{
    /* border:2px solid orchid; */
}
.section-two-left{
    /* border: 3px solid navy; */
    position: relative;
}
.img-section-two-left img{
    height: 100%;
    width: 100%; 
    object-fit:cover;
}
.section-two-title{
    font-weight:700;
    font-size: 40px;
    color: #131313;
    border-left:3px solid #FF900E;
    padding-left:15px;
    margin-bottom:20px;
    
}
.sub-right-about{
    font-weight: 300;
    font-size: 13px;
    color: #727272;
    
}
.sub-right-title{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
    margin-bottom:10px;
} 
.sub-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.blog{ 
    margin-top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding:25px 32px;
}

.difical-btn{
    font-weight: 600;
    font-size:16px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    padding: 20px 22px;
    border:none; 
    position: absolute;
    left: -30px;
    bottom: 0px;
} 
.span-btn{
    font-size: 55px;
}  

/* Main section three   style */

.main-section-three{
   height: auto;
   width: 80%;
   margin: 0 auto; 
   margin-bottom: 50px;

}
.section-three-main-div{

} 
.section-three-title{
    font-weight: 700;
    font-size: 40px;
    color: #131313;
    margin-bottom: 24px;
} 
.section-three-about{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    margin-bottom: 50px;
} 
.sub-div-three{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-bottom:25px;
}
.blog-3{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding:20px 25px;
    transition:transform 2s;
   
} 
.blog-3:hover{
    background-color: bisque;
    transform:rotate(45deg);
}




.number{
    color: #424242;
    font-size: 40px;
    line-height: 53px;
    /* text-align: center; */
}
.blog-about{
    font-weight: 600;
    font-size: 16px;
    color: #727272;
}
  
/*     -- Extra  section add now       -    */
.extra{
    width:90%;
    background: #f1f3f6;
    margin: 0px auto;
    padding: 50px 0px;
}
.extra-title{
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #131313;
}  
.extra-img{ 
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px ;
} 
.blog-exta{
    width: 22.5%;
	/* position: relative; */
	overflow: hidden;
}
.blog-exta img{
    width: 100%;
    height: 100%;
}
.happy-codding{
    
    color:grey;
    font-size: 16px;
}


/* Main section four style  */
.main-section-four{
    width: 100%;
    margin: 50px auto ;
    text-align: center;
   
} 
.sponspors{
    display: flex;
    justify-content: space-between;
}

/* Footer style     */
footer{
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 100px;
    margin-bottom:100px;
    
}
.footer-about{
    color: #424242;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    padding: 30px 100px;
}


/* ..................Responsive for mobile .........................*/

@media screen and (max-width:576px) { 
      .nav-container{
        text-align: center;
      }
      nav{
        flex-direction: column;
        align-items: center;
        padding:0px;
        padding-top:20px;
       
      } 
      .nav-title{
        font-size: 10vw;
        
      }  
      .left-site{
        flex-direction: column;
       
      }
      /* header second part    */
      .second-part-title{
        font-size: 10vw;
      }
      
    /* main section start   */

    /* main section one    style */
     .main-section-one{
        flex-direction: column;
        margin: 10px auto;
     } 

     .main-sec-one-right-site{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        margin: 10px auto;
     }  

     /* Main section two style  */
      .main-section-two{
        margin: 0 auto;
        
      }
      .main-section-two-container{
        flex-direction: column;
       
     } 
    .section-two-title{
        font-size:10vw;
    }
    
     .difical-btn{
        left:0;
        bottom:-120px;
        
    }   
   
   /* Main section three   style */

   .main-section-three{
       margin-top: 150px;
   }
    .sub-div-three{
        flex-direction: column; 
        gap: 20px;

    }

/*   Main section four style  */ 
.sponspors{
    flex-direction: column;
    gap: 30px;

}
/*     -- Extra  section add now       -    */
.extra-img{
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
}

.blog-exta{
    width:100%;
	/* position: relative; */
	overflow: hidden;
}

} 
